<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List - Admin</title>
</head>
<body>
    <h1>Course List</h1>
    <a href="/admin/course/add">
        <button>New Course</button>
    </a>
    <a href="/admin/course/chart">
        <button>See in Chart</button>
    </a>
    <p></p>
    <table border="1">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Category</th>
                <th>Student Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% data.map(el => { %>
                <tr>
                    <td><%= el.name %></td>
                    <td><%= el.description %></td>
                    <td><%= el.duration %></td>
                    <td><%= el.category %></td>
                    <td><%= el.Users.length %></td>
                    <td>
                        <a href="/admin/course/<%= el.id %>/edit">
                            <button>Edit</button>
                        </a>
                        <a href="/admin/course/<%= el.id %>/delete">
                            <button>Delete</button>
                        </a>
                        <a href="/admin/course/<%= el.id %>/enrolled">Students List</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>