<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Page</title>
</head>
<body >
    <h1>Profile</h1>
    <!-- <%= JSON.stringify(data[0].Courses, null, 2) %>  -->

    <div>
        <table border="1" >
            <thead>
                <th>Profile</th>
            </thead>
            <tbody>            
                <td style="text-align:justify ;">
                    <label for="name">Name :</label>
                    <%= data[0].Profile.name %> <br>
                    <label for="age">Age :</label>
                    <%= data[0].Profile.age %> <br>
                    <label for="gender">Gender :</label>
                    <%= data[0].Profile.gender %>
                </td>
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <table border="1" style="text-align:center">
            <thead>
                <th>Courses</th>
                <th>Status</th>
                <th>Drop Course</th>
            </thead>
            <tbody>
                <% data[0].Courses.forEach(el => { %>                 
                    <tr>
                        <td>
                            <li>
                                <%= el.name%> 
                            </li>
                        </td>
                        <td>
                            <%= el.UserCourse.complete %> 
                        </td>
                        <td>
                            <a href="/student/<%= data[0].id %> /deleteCourse/<%= el.id%> "><button <%=el.UserCourse.complete === 'Completed' ? 'disabled' : '' %>>Drop</button></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <div>
        <a href="/student/<%= data[0].id %> /addCourse"><button>Add Course</button></a>
    </div>
</body>
</html>