<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Page</title>
</head>
<body >
    <h1>Student List</h1>
    <div>
        <table border="1" style="text-align:center" >
            <thead>
                <th>Student Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Courses</th>
                <th>Status</th>
            </thead>
            <tbody>            
                <% data.map(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.Profile.name %></td>
                    <td><%= user.Profile.age %></td>
                    <td><%= user.Profile.gender %></td>
                    <% user.Courses.map((course, i) => { %>
                    <td>
                        <li>
                            <%= course.name %> 
                            <button onclick="hide()">Course Detail</button>
                            <br>
                            <pre id="detail" style="display:none ;"><%= course.description %></pre>
                        </li>
                    </td>
                    <td>
                        <%= course.UserCourse.status %> 
                    </td>
                    <% }) %>
                </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>

    <script>
        function hide() {
          var x = document.getElementById("detail");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
    </script>
</body>
</html>